annotated-types==0.6.0
attrs==23.2.0
colour==0.1.5
customtkinter==5.2.2
darkdetect==0.8.0
et-xmlfile==1.1.0
numpy==2.0.0
openpyxl==3.1.4
packaging==23.2
pandas==2.2.2
pillow==10.2.0
pydantic_core==2.16.3
pypdf==4.2.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
ttkbootstrap==1.10.1
typing_extensions==4.10.0
tzdata==2024.1
